requests
fastapi 
uvicorn 
google-generativeai
streamlit
python-dotenv
jira
pandas
pymongo 
dnspython
pinecone-client 
sentence-transformers 
torch
pinecone
pydantic
jinja2
Flask==3.0.0
langchain-google-genai==0.0.9
python-dotenv==1.0.0

